{% extends 'base.html' %}
{% block title %}Посты авторов, на которых подписан текущий пользователь{% endblock %}
{% block content %}

  {% include 'posts/includes/switcher.html' %}
  <h1>Посты авторов, на которых подписан текущий пользователь</h1>
  <article>
    {% for post in page_obj %}  
    <ul>
        <li>
        Автор: {{ post.author.get_full_name }}
        </li>
        <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
    </ul>
    <p>{{ post.text }}</p>   
  
        {% if  request.user.username ==  post.author.username %}
            <a href="{% url 'posts:post_edit' post.pk %}"> Редактировать пост </a>
        {% else %}
            <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        {% endif %}
    <br>
        {% if post.group %}   
            <a href="{% url 'posts:group_list' post.group.slug %}">Записи группы {{ post.group.title }}</a>
        {% endif %}

    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </article> 
  {% include 'posts/includes/paginator.html' %}
{% endblock %}

